 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Data Science</h2>
      <i class="devicon-pycharm-plain-wordmark"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-r-"></i>
      <p>Worked on numberous data science projects academically and professionally</p>
    </div>
    <div class="tech">
      <h2>Web development</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-django-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark"></i>
      <p>Worked with Flask, Django, Bootstrap and Plotly.JS</p>
    </div>
</div>
