<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "AutoML/img/profile.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Prophecy </h3>
    <ul>
      <li> Sklearn</li>
        <li>Python</li>
        <li>Flask</li>
    </ul>
    <p>Automated training and deployment of machine learning models</p>
    <a class="project-link" href="/AutoML/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/toladata.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> TolaReports </h3>
    <ul>
      <li> Python</li>
      <li>Flask</li>
      <li>Plotly.JS</li>
    </ul>
    <p>An automated visualisation app for clients based on Dash</p>
    <a class="project-link" href="https://tolareports.herokuapp.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/toladata.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Indicator Library </h3>
    <ul>
      <li> Python</li>
      <li>Django</li>
      <li>NLP</li>
    </ul>
    <p>A web catalog of 2000 SDG Indicators for NGOs and NPOs</p>
    <a class="project-link" href="https://github.com/toladata-ce/indicator-library">Check it out</a>
  </div>
</div>
