<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "AutoML/img/profile.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Prophecy </h3>
    <ul>
      <li> Sklearn</li>
        <li>Python</li>
        <li>Flask</li>
    </ul>
    <p>Automated training and deployment of machine learning models</p>
    <a class="project-link" href="/AutoML/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/toladata.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> TolaReports </h3>
    <ul>
      <li> Python</li>
      <li>Flask</li>
      <li>Plotly.JS</li>
    </ul>
    <p>An automated visualisation app for clients based on Dash</p>
    <a class="project-link" href="https://tolareports.herokuapp.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/toladata.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Indicator Library </h3>
    <ul>
      <li> Python</li>
      <li>Django</li>
      <li>NLP</li>
    </ul>
    <p>A web catalog of 2000 SDG Indicators for NGOs and NPOs</p>
    <a class="project-link" href="https://github.com/toladata-ce/indicator-library">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ut.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Finding relationship between genes, age and cortical thickness</h3>
    <ul>
      <li> Python</li>
      <li>Interpretable ML - LIME</li>
      <li>Machine Learning</li>
    </ul>
    <p>Predicting cortical thickness with genotype by using machine learning and interpreting the results with LIME.</p>
    <a class="project-link" href="/neuro.pdf">Read the report</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/owasp.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>OWASP Top 5 ML risks</h3>
    <ul>
      <li>Security</li>
      <li>Machine Learning</li>
    </ul>
    <p>Open source project in identifying and developing strategies against machine learning security vulnerabilities</p>
    <a class="project-link" href="https://www.owasp.org/index.php/OWASP_Top_5_Machine_Learning_Risks">Check it out</a>
  </div>
</div>
<div>
    <h2>Other Projects</h2>
    <ul>
        <h3>M4 time series competition</h3>
        <li>Python</li>
        <li>Time Series</li>
    </ul>
    <ul>
        <h3>Survey paper: Adversarial examples in AMRs</h3>
        <li>Python</li>
        <li>Tensorflow</li>
    </ul>
    <ul>
        <h3>ICLR reproducibility challenge: Synthesizing robust adversarial examples</h3>
        <li>Python</li>
        <li>Tensorflow</li>
    </ul>
    <ul>
        <h3>Green Cross: Automatic green corridor generation</h3>
        <li>C</li>
        <li>C++</li>
        <li>Arduino</li>
    </ul>
    <ul>
        <h3>Intrusion detection with Machine learning</h3>
        <li>Python</li>
        <li>Sklearn</li>
    </ul>
    <ul>
        <h3>Neural machine translation: TR -> EN</h3>
        <li>Python</li>
        <li>MarianNMT</li>
    </ul>
</div>