<!--Post-->
<!doctype html>
<html>
<head>
<meta content='{{ page.title }} - {{ site.title }}' name='title' />
<meta name="description" content="{{page.description}}"/>
<title>{{ page.title }} - {{ site.title }}</title>
{% include head.html %}
</head>

<body>
{% include header.html %}
<div id='container'>
    {% include links.html %}
    {% include pages.html %}
    <div class="content">
        <section class='post'>
            <h1 class="upcase">
                <div class='date'>{{ page.date | date: "%-d %B %Y" }}</div>
                {{ page.title }}
            </h1>
            {{ content }}
        </section>
    </div>

    {% include links.html %}
	{% include google-comments.html %}
</div>
{% include footer.html %}
</body>

</html>
